{% extends "layouts/base.html" %} {% block title %}Dashboard{% endblock %} {%
block content %}
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12 page-header">
        <h2 class="page-title">User Dashboard</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
        <div class="card">
          <div class="content">
            <div class="row">
              <div class="col-sm-4">
                <div class="icon-big text-center">
                  <i class="teal fas fa-user"></i>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="detail">
                  <p class="detail-subtitle">Update Profile</p>
                  <span class="number">1</span>
                </div>
              </div>
            </div>
            <div class="footer">
              <hr />
              <a href="#">
                <div class="stats">
                  <i class="fas fa-arrow-alt-circle-right"></i> Click to update
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
        <div class="card">
          <div class="content">
            <div class="row">
              <div class="col-sm-4">
                <div class="icon-big text-center">
                  <i class="olive fas fa-users"></i>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="detail">
                  <p class="detail-subtitle">Manage Users</p>
                  <span class="number">20</span>
                </div>
              </div>
            </div>
            <div class="footer">
              <hr />
              <a href="{{ url_for('user.list_users') }}">
                <div class="stats">
                  <i class="fas fa-arrow-alt-circle-right"></i> Click to view
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
        <div class="card">
          <div class="content">
            <div class="row">
              <div class="col-sm-4">
                <div class="icon-big text-center">
                  <i class="violet fas fa-list-alt"></i>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="detail">
                  <p class="detail-subtitle">Manage Posts</p>
                  <span class="number">28</span>
                </div>
              </div>
            </div>
            <div class="footer">
              <hr />
              <a href="{{ url_for('post.list_posts') }}">
                <div class="stats">
                  <i class="fas fa-arrow-alt-circle-right"></i> Click to view
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
        <div class="card">
          <div class="content">
            <div class="row">
              <div class="col-sm-4">
                <div class="icon-big text-center">
                  <i class="orange fas fa-envelope"></i>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="detail">
                  <p class="detail-subtitle">Messages</p>
                  <span class="number">75</span>
                </div>
              </div>
            </div>
            <div class="footer">
              <hr />
              <a href="{{ url_for('home.messages_page') }}">
                <div class="stats">
                  <i class="fas fa-arrow-alt-circle-right"></i> Click to view
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
