{% extends "layouts/base.html" %} {% block title %}Update Profile{% endblock %}
{% block content %}
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12 page-header">
        <h2 class="page-title">Update Password</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 page-header">
        <div class="col-md-12 col-lg-12">
          <div class="card">
            <div class="card-header">Update Account Password</div>
            <div class="card-body">
              <form
                action="{{ url_for('home.update_password') }}"
                method="post"
                autocomplete="off"
              >
                {{ form.hidden_tag() }}
                <div class="row">
                  <div class="col-sm-4 mb-3 text-start">
                    <label for="password" class="form-label"
                      >Old Password</label
                    >
                    <input
                      type="password"
                      name="old_password"
                      class="form-control {% if form.old_password.errors %}is-invalid{% endif %}"
                      placeholder="Enter your old password"
                      required
                    />
                    {% for error in form.password.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                  </div>

                  <div class="col-sm-4 mb-3 text-start">
                    <label for="password" class="form-label"
                      >New Password</label
                    >
                    <input
                      type="password"
                      name="password"
                      class="form-control {% if form.password.errors %}is-invalid{% endif %}"
                      placeholder="Enter your new password"
                      required
                    />
                    {% for error in form.password.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                  </div>

                  <div class="col-sm-4 mb-3 text-start">
                    <label for="confirm_password" class="form-label"
                      >Confirm New Password</label
                    >
                    <input
                      type="password"
                      name="confirm_password"
                      class="form-control {% if form.confirm_password.errors %}is-invalid{% endif %}"
                      placeholder="Confirm your new password"
                      required
                    />
                    {% for error in form.confirm_password.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                  </div>
                </div>
                <button type="submit" class="btn btn-primary mb-4">
                  Update Password
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
