{% extends "layouts/base.html" %} {% block title %} Manage Users {% endblock %}
{%block content %}
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12 page-header">
        <h2 class="page-title">Manage Users</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 page-header">
        <div class="col-md-12 col-lg-12">
          <div class="card">
            <div class="card-header">Manage Users</div>
            <div class="card-body">
              <p class="card-title"></p>
              <table
                class="table table-striped table-bordered table-hover"
                id="dataTables-example"
                width="100%"
              >
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Zip Code</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in users %}
                  <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.gender }}</td>
                    <td>{{ user.address }}</td>
                    <td>{{ user.zip_code }}</td>
                    <td>
                      <div class="margin btn-group">
                        <a
                          href="{{ url_for('user.show_user', user_id=user.id) }}"
                          class="btn btn-sm btn-info"
                          title="Click to view user details"
                        >
                          <i class="fa fa-bars"></i>
                        </a>
                        <a
                          href="{{ url_for('user.edit_user', user_id=user.id) }}"
                          class="btn btn-sm btn-primary"
                          title="Click to edit user details"
                        >
                          <i class="fa fa-edit"></i>
                        </a>

                        <form
                          action="{{ url_for('user.delete_user', user_id=user.id) }}"
                          method="POST"
                          style="display: inline"
                          onsubmit="return confirm('Are you sure you want to delete this user?');"
                        >
                          {{ form.hidden_tag() }}
                          <button
                            type="submit"
                            class="btn btn-sm btn-danger"
                            title="Click to delete user"
                          >
                            <i class="fa fa-trash"></i>
                          </button>
                        </form>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
