<nav id="sidebar" class="active">
  <div class="sidebar-header">
    <img
      src="{{url_for('static', filename='img/logo-grey.png')}}"
      alt="bootraper logo"
      class="app-logo nav-logo"
    />
  </div>
  <ul class="list-unstyled components text-secondary">
    <li>
      <a href="{{ url_for('home.dashboard_page') }}"
        ><i class="fas fa-home"></i> Dashboard</a
      >
    </li>
    <li>
      <a href="{{ url_for('post.list_posts') }}"
        ><i class="fas fa-list-alt"></i> Posts</a
      >
    </li>
    <li>
      <a href="{{ url_for('user.list_users') }}"
        ><i class="fas fa-users"></i> Users</a
      >
    </li>
    <li>
      <a href="{{ url_for('home.messages_page') }}"
        ><i class="fas fa-envelope"></i> Messages</a
      >
    </li>
  </ul>
</nav>
