{% extends "layouts/auth.html" %} {% block title %}Update Password{% endblock %}
{% block content %}
<h6 class="mb-4 text-muted">Update Password</h6>
<form
  action="{{ url_for('auth.reset_user_password', token=token) }}"
  method="post"
  autocomplete="off"
>
  {{ form.hidden_tag() }}
  <div class="row">
    <div class="mb-3 text-start">
      <label for="password" class="form-label">New Password</label>
      <input
        type="password"
        name="password"
        class="form-control {% if form.password.errors %}is-invalid{% endif %}"
        placeholder="Enter your new password"
        required
      />
      {% for error in form.password.errors %}
      <div class="invalid-feedback">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="mb-3 text-start">
      <label for="confirm_password" class="form-label"
        >Confirm New Password</label
      >
      <input
        type="password"
        name="confirm_password"
        class="form-control {% if form.confirm_password.errors %}is-invalid{% endif %}"
        placeholder="Confirm your password"
        required
      />
      {% for error in form.confirm_password.errors %}
      <div class="invalid-feedback">{{ error }}</div>
      {% endfor %}
    </div>
  </div>

  <button type="submit" class="btn btn-primary mb-4" style="width: 100%">
    Update Password
  </button>
</form>
{% endblock %}
